.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border-style: outset;
	border-width: 2px;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=submit] {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}	
